POSTGRES_DB=erp_corp
POSTGRES_USER=erp_corp
POSTGRES_PASSWORD=PG_PASS
POSTGRES_HOST=postgres

REDIS_URL=redis://redis:6379/0

DJANGO_SECRET_KEY="DJANGO_SECRET_KEY"


LOCAL_EMBEDDING_URL = "http://embedding:5000/embed"
OPENAI_API_KEY=your_key
GROQ_API_KEY="yr_key"
AI_LLM='GROQ' #oneof: OPENAI, GROQ, FAKE 
AI_EMBEDDINGS='LOCAL' #oneof: OPENAI, LOCAL, FAKE

#metrics
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=yourpass
DEBUG=False
ALLOWED_HOSTS=192.168.0.1,localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173, http://127.0.0.1:5173
CORS_ALLOW_CREDENTIALS=False

#front
VITE_API_URL=http://localhost:8000/api
VITE_GRAFANA_URL=http://localhost:3000/
VITE_GITHUB_URL=https://github.com/fadi-c/erp_corp_ai_demo

#embedding_hgf
HF_TOKEN=yourtoken
