POSTGRES_DB=erp
POSTGRES_USER=erp
POSTGRES_PASSWORD=erp
POSTGRES_HOST=postgres

REDIS_URL=redis://redis:6379/0

DJANGO_SECRET_KEY="SECRETDJANGO"

LOCAL_EMBEDDING_URL = "http://embedding:5000/embed"
OPENAI_API_KEY="KEY"
GROQ_API_KEY="KEYY"
AI_LLM='GROQ' #OPENAI, GROQ, FAKE
AI_EMBEDDINGS='LOCAL' #OPENAI, LOCAL, FAKE

#metrics
GRAFANA_ADMIN_USER=demo
GRAFANA_ADMIN_PASSWORD=demo
PROMETHEUS_MULTIPROC_DIR=/tmp/prometheus